.dropdown-item:hover{
    background-color: rgb(3, 170, 3);
    
}




/* seller */
.menuitem{
    font-size: 20px;
    text-align: center;
    margin-left: 240px;
}



.menuitem ul li a:hover{
    background-color: rgb(128, 211, 128); 
    
    
}

.menuitem ul li a{
    margin-left: 30px;
}
.active{
    font-weight: 900;
     
}


/* profile */
.profilbox{
    width: 410px;
    height: 600px;
    border: 2px solid rgb(150, 160, 150);
    padding: 50px;
    margin: 20px;
}

.description{
    width: 400px;
    height: 350px;
    border: 2px solid rgb(150, 160, 150);
    padding: 50px;
    margin: 20px;

}

.gigdisplay{
    
     margin-top:20px;
}
.gigdisplay h3{
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.review{
    margin-top: 50px;
    margin-left: 30px;
}

/* seller   */
