*{
    margin: 0px;
}

/* starting nav */
.nav{
    background-color: rgb(95, 28, 201);
    height: 40px;
  
   
 
}

.nav ul {
  display: flex;
  list-style: none; 
  justify-content: space-evenly;
   
}
.nav ul li a{
    
   text-decoration: none;
     width: 25%;
    color:azure;
    font-size: 17px;
    width: 25%; 
    
    text-align: center;  
    margin-left: 300px;
   line-height:40px;
  }

/* ending nav */

/* starting About*/

.About{
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}
.About h1{
  color: blue;
  text-align: center;
  font-size: 50px;
  margin:20px;
}
.About1{
  display: flex;
}
.about2{
   background: white;
   text-align: justify;
   margin: 8px 15px ;
}


/* ending About*/


/* starting Service*/


.Service{
  background-color: lightgrey;

}
.Service h1{
  color:rgb(62, 57, 129);
  text-align: center;
  font-size: 50px;
  margin:20px;
}
.Skill{
  background-color: lightgrey;
  margin-bottom: 15px;
}
.Skill h1{
  color: rgb(24, 24, 116);
  text-align: center;
  font-size: 50px;
  margin:20px;
}

/* ending Service*/



/* portfolio */
.content1{
  margin:12px
}

.content1 h1{
  color: blueviolet;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

 
.content2{
  margin:32px
   
}

.content2 h1{
  color: blueviolet;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.link{
  margin-left:20px;
}
.image{
  display: flex;
  margin-top: 10px;
  margin-left: 70PX;


}
.image img{
  margin: 20px;
}
/* ending portfolio */



/* contact us */
.form{
  border: 3px solid black;
  margin: 50px;
}
.contact h1{
  text-align: center;
  color: blueviolet;
  margin-top: 20px;
}
form{
  margin :15px ;
  text-align: center;
}
  form h2{
  color: rgb(35, 45, 184);
  margin-bottom:12px;
}


/* ending contact us */

.footer{
	width: 100%;
	height:40px;
	font-size: 20px;
	color: white;
	background-color: #121312ad;
 margin-top: 8px;
	text-align: center;
	line-height: 45px;
   left: 0;
  bottom: 0;
  width: 100%;

  
  
}