/* footer */
.heading1{
    background-color: rgb(65, 156, 187);
    color: rgb(167, 42, 42);

    margin-bottom: 20px;
}

.afternav{
    margin: 20px;
}

footer{
    	 
    width: 100%;
    height:50px;
    font-size: 20px;
    color: white;
    background-color: #131613d0;
    text-align: center;;
    text-align: center;
    line-height: 50px;



}