.a {
    color: rgb(12, 14, 13);
    background-color: rgb(137, 142, 158);
    text-align: justify;
    text-transform: uppercase;
    text-indent: 30px;
    letter-spacing: 3px;
    /*border-color: black;
    border-style: solid;
    border-width: 7px;*/
    border: 10px solid black;
    margin 20px;
    padding:10px;
    outline:10px solid blue;

    }


    .design{

        text-align: center;

        color: rgb(15, 14, 14);
        background-color: rgb(150, 228, 228);
        border: 8px solid black;
        margin:50px
         

    }

    .boder{
        border: 5px dashed green;
        margin:3px;
    }