/* about */

 
.about{
margin-top: 50px;
}
.about1 h1{
    color: rgb(85, 48, 119);
    margin-top: 10px;
}

.about1{
    text-align: center;
    margin-top: 10px;
    
}

.Service{
    background-color: lightgrey;
    margin: 20px;
  
  }
  .Service h1{
    color:rgb(62, 57, 129);
    text-align: center;
    font-size: 50px;
    margin:20px;
  }

  .Skill{
    background-color: lightgrey;
    margin: 20px;
  }
  .Skill h1{
    color: rgb(24, 24, 116);
    text-align: center;
    font-size: 50px;
    margin:20px;
  }




/* portfolio */

.cardlist{
    display: flex;
  justify-content: center;

}
.cardlist1 h1{
    text-align: center;
    color: blueviolet;
    margin-top: 20px;
}

.cardlist2 h1{
    text-align: center;
    color: blueviolet;
    margin-top: 20px;
}
.card{
    margin: 40px;
}


/* contact */
.form1{
border: 3px solid black;
margin: 50px;
}

.form2{
    margin:120px;
}
.form2 h2{
    margin:20px;
    color: rgb(62, 62, 212);
    font-size: 20px;
    text-align: center;
}


.contact h1{
    color: rgb(62, 62, 212);
    font-size: 40px;
    text-align: center;
    margin:40px;

}
.sub{
 margin-left: 440px;
 margin-top: 15px;
}


  

.navbar-nav ul li a{
    
}
/* footer */
    footer{
    	 
        width: 100%;
        height:50px;
        font-size: 20px;
        color: white;
        background-color: #131613d0;
        text-align: center;;
        text-align: center;
        line-height: 50px;
    
  

}